ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
    margin: 0 10px;
}

img {
    width: 100%;
}

body {
    font-family: 'Playfair Display', serif;
}

.my-card {
    box-shadow: 0px 10px 3px 5px rgb(191, 198, 245);
    letter-spacing: 0.15em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
        "AppleGothic", sans-serif;
        height: 100%;
}
.socio{
    text-decoration: none;
    font-size:2rem ;
    color: aliceblue;
    margin: 0 7px;
}
footer{
    color: aliceblue;
    background-color: #010347;
    padding: 20px 0;
}